html
    body
        style
            include stylesheets/home.css
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap')
    div(class='background')
        div(id='header-background')
    div(class='container')
        div(class='column' id='header')
            div(class='vertical-center')
                div(class='parent-image')
                    div(class='parent-image-column')
                        img(
                            src='images/disgust.png'
                        )
                        img(
                            src='images/greek.png'
                        )
                    div(class='parent-image-column')
                        img(
                            src='images/hypers.png'
                        )
                        img(
                            src='images/kappa.png'
                        )
                    div(class='parent-image-column')
                        img(
                            src='images/lul.png'
                        )
                        img(
                            src='images/huh.png'
                        )

                div(class='logo')
                        img(src='images/tvd.png')
                //div(class='parent')
                //    div(class='child-h1')
                //        h1 T
                //    div(class='child')
                //        p witch
                //div(class='parent')
                //    div(class='child-h1')
                //        h1 V
                //    div(class='child')
                //        p ideo
                //div(class='parent')
                //    div(class='child-h1')
                //        h1 D
                //    div(class='child')
                //        p ownloader
                div(class='parent-image')
                    div(class='parent-image-column')
                        img(
                            src='images/sleep.png'
                        )
                        img(
                            src='images/rainbowkappa.png'
                        )
                    div(class='parent-image-column')
                        img(
                            src='images/pogchamp.png'
                        )
                        img(
                            src='images/poggers.png'
                        )
                    div(class='parent-image-column')
                        img(
                            src='images/scream.png'
                        )
                        img(
                            src='images/seemsgood.png'
                        )
        form(
            class='column'
            id='inputs'
            action='/'
            method='post'
            enctype='multipart/form-data'
        )
            div(id='column-header')
                h3 twitch clip downloader
            div(class='row' id='column-body-1')
                div(class='file-input-padding')
                    div(class='file-input-header')
                        p Option 1. Input Text File
                    div(class='file-input-body-example')
                        p(class='example-title') example 'clips.txt' :
                        div(id='file-example')
                            p(class='example-links-1') https://www.twitch.tv/nairomk/clip/FastBlatantAntPeteZarollTie
                            p(class='example-links-2') https://www.twitch.tv/noelmiller/clip/ScrumptiousTransparentTomatoPartyTime
                            p(class='example-links-1') https://www.twitch.tv/s1mple/clip/RepleteEnthusiasticMageCeilingCat
                            p(class='example-links-2') https://www.twitch.tv/codyko/clip/VivaciousTenaciousSquirrelHumbleLife
                            p(class='example-links-3') https://www.twitch.tv/loltyler1/clip/LongMildConsoleFreakinStinkin
                    div(class='input-body')
                        p(id='file-input-label') your turn!
                        input(
                            type='file'
                            name='userFile'
                            id='fileupload'
                        )
                        label(for='fileupload' id='upload-button') [choose a file]
                        div(class='footline' id='footline-button')
                            p
            div(class='row' id='column-body-2')
                div(class='file-input-padding')
                    div(class='file-input-header')
                        p Option 2. Input Links Here
                    div(class='input-body')
                        textarea(
                            class='text-input-area'
                            id='textarea'
                            name='textarea'
                            rows='10'
                            placeholder='https://www.twitch.tv/nairomk/clip/FastBlatantAntPeteZarollTie'
                            + '\n' +
                            'https://www.twitch.tv/s1mple/clip/RepleteEnthusiasticMageCeilingCat'
                            + '\n' +
                            'https://www.twitch.tv/loltyler1/clip/LongMildConsoleFreakinStinkin'
                        )
                        div(class='footline')
            div(class='row' id='column-footer')
                div(class='submit-button')
                    input(
                        type='Submit'
                        id='submit'
                    )
        div(class='column' id='howto')
            div(class='rounded-box')
                div(class='instructions')
                    div(class='footline')
                    h3 How to use TVD
                    p.
                        1. Choose a method to upload the clips, which can either be using a clips.txt file
                        or directly inputting the links into the browser text box.
                    p.
                        2. Press the submit button, which will display all of your links.
                    p.
                        3. To download a clip, press the thumbnail image.
                    div(class='footline')