html
    body
        h1 Twitch Video Downloader
        form(
            action='/'
            method='post'
            enctype='multipart/form-data'
        )
            input(
                type='file'
                name='userFile'
                required
            )
            input(
                type='Submit'
            )