html
    body
        style
            include stylesheets/links.css
        h1 video links
        ul
            each link,i in links
                li
                    //a(href=link class='filelinks' name=i) #{titles[i].toString()}
                    a(href=link class='filelinks' name=i)
                        img(src=images[i])