html
    body
        style
            include stylesheets/ydl.css
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap')
    div(class='background')
        div(id='header-background')
    div(class='container')
        div(class='column' id='header')
            div(class='vertical-center')
                div(class='logo')
                    img(src='images/yvd.png')

        form(
            class='column'
            id='inputs'
            action='/ydl'
            method='post'
            onsubmit="return validateMyForm();"
        )
            div(class='row' id='column-body-1')
                div(class='file-input-padding')
                    div(class='file-input-header')
                        p Option 1. Download One Video
                    div(class='file-input-body-example')

                    div(class='input-body')
                        input(
                            type='text'
                            name='ylink'
                            class='textinput'
                            id='ylink'
                            onfocus='disablePl()'
                            onmouseout='undisableL()'
                            placeholder='https://www.youtube.com/watch?v=NaD01NBfg-A'
                        )
                        div(class='footline')
            div(class='row' id='column-body-2')
                div(class='file-input-padding')
                    div(class='file-input-header')
                        p Option 2. Download Videos From a Playlist
                    div(class='input-body')
                        input(
                            type='text'
                            name='ypdlink'
                            class='textinput'
                            id='ypdlink'
                            onfocus='disableL()'
                            onmouseout='undisablePl()'
                            placeholder='https://www.youtube.com/playlist?list=PLbmtdqiQduf3WvN829GqBGtICB1jSrwu2'
                        )
                        div(class='footline')
            div(class='row' id='column-footer')
                div(class='submit-button')
                    input(
                        type='Submit'
                        id='submit'
                    )

        div(class='column' id='howto')
            div(class='rounded-box')
                div(class='title')
                    h3 youtube video downloader
                    p for all of your video needs
                div(class='instructions')
                    div(class='footline')
                    h3 How to use YVD
                    p.
                        1. Choose a whether you want to download a singular video, or to
                        download videos from a playlist. Input link in appropriate box.
                    p.
                        2. Press the submit button, which will display one or all of the videos.
                    p.
                        3. To download the video, press the button below the thumbnail clip.
                    div(class='footline')

        script
            include scripts/ydl.js