html
    body
        style
            include stylesheets/ydlinks.css
        div(class='background')
            div(id='header-background')

        div(class='container')
            div(class='parent')
                div(class='box')
                    p(id='title') #{videoTitle}
                    img(src=videoImg
                        id=videoId
                        class='videoImage'
                        style='width:100%'
                        )
                    div(class='options')
                        div(class='quality')
                            p Enter Preferred Quality
                            select(class='qualityDropDown')
                                each val in videoQuality
                                    option=val
                        div(class='userFileName')
                            p Enter Preferred File Name
                            input(
                                class='fileName'
                                type='text'
                                )
                    button(class='download') DOWNLOAD

        script
            include scripts/ydlinks.js