html
    body
        style
            include stylesheets/links.css
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap')
        div(class='background')
            div(id='header-background')
        div(class='main')
            div(class='header-container')
                div(class='header')
                    h1 videos in selected playlist
            div(class='container')
                div(class='list')
                    div(class='links-column' id='column-1')
                        each id,i in videoIds
                            if (i%3) === 0
                                a(href="https://www.youtube.com/watch?v=" + id class='link' name=i)
                                    div(class='padding')
                                        img(
                                            src=videoImgs[i]
                                            style="width:100%"
                                        )
                                button(class='download' name=id) #{videoTitles[i]}
                    div(class='links-column' id='column-2')
                        each id,i in videoIds
                            if (i % 3) === 1
                                a(href="https://www.youtube.com/watch?v=" + id class='link' name=i)
                                    div(class='padding')
                                        img(
                                            src=videoImgs[i]
                                            style="width:100%"
                                        )
                                button(class='download' name=id) #{videoTitles[i]}
                    div(class='links-column' id='column-3')
                        each id,i in videoIds
                            if (i % 3) === 2
                                a(href="https://www.youtube.com/watch?v=" + id class='link' name=i)
                                    div(class='padding')
                                        img(
                                            src=videoImgs[i]
                                            style="width:100%"
                                        )
                                button(class='download' name=id) #{videoTitles[i]}
        script
            include scripts/ypdlinks.js